/* Elementos */
html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto; /* filas para el header, main y footer */
    min-height: 100vh;
	background: #E03D2E;
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #FFD900;
}

header {
    background: #E03D2E;
    align-content: center;
}

header ul {
    padding: 0;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #FFD900;
    text-transform: uppercase;
    padding: 1em;
}

header ul li a:hover {
    text-decoration: underline;
}

main {
    height: 100%;
    background-color: #231F20;
}

footer {
    background: url('../assets/background_footer.png') no-repeat top left;
    background-size: cover;
    margin: 0; 
	padding: 1em;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 0.75em;
    height: 50px;
}

p {
    margin: 0;
    align-content: center;
}

/* Clases */
.custom-navbar {
    display: flex;
    justify-content: center;
    background: #E03D2E;
}

.navbar-container {
    display: flex;
    justify-content: center;
    height: calc(100vh - 56px);
}

.navbar-button {
    color: #FFD900;
    border: none;
    box-shadow: none;
    font-size: 2em;
}

.navbar-button:focus {
    box-shadow: none;
}

.active-link {
    font-weight: 800;
}

.index-main-image {
    background: url('../assets/background_inicio.jpg') no-repeat top left;
    background-size: cover;
    height: 100%;
}

.index-section {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0em 1em 0em 1em;
}

.index-div-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index-title {
    text-transform: uppercase;
    font-size: 3em;
    margin: 0;
    padding: 0;
}

.clancy-torchbearer-image {
    display: none;
}

.section-title {
    padding: 2em;
}

.title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.section-card {
    display: flex;
    justify-content: center;
    margin: 0 1em 0 2em;
}

.card { 
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #E03D2E;
}

.card-title {
    margin-top: 0;
}

/* Media querys */
/* Estilos para pantallas mayores a 345px (xs) */
@media screen and (min-width: 345px) {
    .index-title {
        font-size: 4em;
    }
}

/* Estilos para pantallas mayores a 576px (sm) */
@media screen and (min-width: 576px) {
    .index-title {
        font-size: 5em;
    }
}

/* Estilos para pantallas mayores a 768px (md) */
@media screen and (min-width: 768px) {
    body {
        grid-template-rows: 60px 1fr 50px;
    }

    header ul {
        flex-direction: row;
    }

    .custom-navbar {
        padding: 0;
    }

    .navbar-container {
        height: 100%;
    }
}

/* Estilos para pantallas mayores a 1105px (lg) */
@media screen and (min-width: 1105px) {
    .clancy-torchbearer-image {
        padding-top: 1em;
        display: block;
        height: calc(100vh - 110px);
    }
}