@import "../utils/colors";
@import "../utils/mixins";

/* Estilos sobre elementos comunes */
html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 60px 1fr 50px;
    min-height: 100dvh;
	background: $page-background-color;
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: $text-main-color;
}

main {
    height: 100%;
    background-color: $background-color;
}

footer {
    background: url('../assets/background_footer.png') no-repeat top left;
    background-size: cover;
    margin: 0; 
	padding: 1em;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 0.75em;
    height: 50px;
}

a {
    color: $text-main-color;
}

// /* Estilos sobre clases comunes */