@import "../utils/colors";
@import "../utils/mixins";

// /* Estilos sobre elementos del index */
/* Estilos sobre clases del index */
.index-main-image {
    background: url('../assets/background_inicio.jpg') no-repeat top left;
    background-size: cover;
    height: 100%;
}

.index-section {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0em 1em 0em 1em;
}

.index-div-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index-title {
    text-transform: uppercase;
    font-size: 3em;
    margin: 0;
    padding: 0;
    @include adapt-to(xs) {
        font-size: 4em;
    }
    @include adapt-to(sm) {
        font-size: 5em;
    }
}

.clancy-torchbearer-image {
    display: none;
    @include adapt-to(lg) {
        padding-top: 1em;
        display: block;
        height: calc(100vh - 110px);
        min-height: 312px;
    }
}