@import "../utils/colors";
@import "../utils/mixins";

/* Estilos sobre elementos del navbar */
header {
    height: 100%;
    background: $page-background-color;
    align-content: center;
    ul {
        padding: 0;
        margin: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
            list-style: none;
            margin: 1em;
            a {
                text-decoration: none;
                color: $text-main-color;
                text-transform: uppercase;
                font-size: 2em;
                text-wrap: nowrap;
                &:hover {
                    text-decoration: underline;
                }
                @include adapt-to(md) {
                    padding: 1em;
                }
            }
        }
    }
    @include adapt-to(md) {
        ul {
            flex-direction: row;
            li {
                margin: 0;
                a {
                    font-size: 1em;
                }
            }
        }
    }
}

/* Estilos sobre clases del navbar */
.custom-navbar {
    background: $page-background-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include adapt-to(md) {
        height: 60px;
    }
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}

.navbar-container {
    display: flex;
    justify-content: center;
    height: calc(100vh - 56px);
    @include adapt-to(md) {
        height: 100%;
    }
    &.show {
        transition: all 0.3s;
    }
}

.navbar-button {
    color: $text-main-color;
    border: none;
    box-shadow: none;
    font-size: 2em;
    &:focus {
        box-shadow: none;
    }
}

.active-link {
    font-weight: 800;
}